run = "run"
modules = ["nodejs-20"]
[nix]
channel = "stable-24_05"

[deployment]
build = ["sh", "-c", "npm run build"]
deploymentTarget = "static"
publicDir = "out"

[[deployment.rewrites]]
from = "/*"
to = "/index.html"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 32621205

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- -p 3000 -H 0.0.0.0"

[[ports]]
localPort = 3000
externalPort = 80
